.cartItem{
  display: flex;
  padding: 20px;
  justify-content: center;
  height: 300px;
  align-items: center;
  
}

.cartItem__info{
  padding: 20px;
  flex: 10 1 0;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.cartItem__image{
  width: 200px;
  
}